/*header*/
.header{
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*nav*/
.nav{
    font-size: 16px;
    
}

.nav_link{
    color: #22343D;
    text-decoration: none;
    margin: 0 30px;

}

.nav_link:hover{
    color:yellow;
    
}

/*images*/
.images{
    all: unset;
    display: flex;
    align-items: center;

}

.group{
    padding: 19px 0 19px 146px;
}

.product{
    padding: 23px 16px;
}

/*buttons*/

   
    


.btn_signin{
    border: 1px solid #BCD0E5;
    background-color:#FFFFFF;
    width: 102px;
    border-radius: 4px;
    color:#173A56;

    

}

.btn_signup{
    background-color: #02897A;
    width: 110px;
    border-radius: 4px;
    border: none;
    color:#FFFFFF;
}


