

body{
    font-family: 'Poppins', sans-serif;
    

}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
   
}

.align_center{
    align-items: center;
    
}

.justify-content center{
    justify-content: center;

}

ul{
    all: unset;
}
.product{
    color: #173A56;
    font-size: 30px;
    padding-left: 16px;
    
    
}

.nav{
    all: unset;
    font-size: 16px;
    
    
}

.nav_link{
    color: #22343D;
    text-decoration: none;
    margin: 0 30px;

}

.nav_link:hover{
    color:yellow;
    
}


.logo{
    margin-right: 8px;
    display: flex;
    align-items: center;
    
}


li{
    list-style-type: none;
}

.btn{
    all: unset;
    border-radius: 4px;
    padding: 10px 24px;
}


.primary{
    border: 1px solid #BCD0E5;
    background-color:#FFFFFF;
    color:#173A56;
    

}

.secondary{
    background-color: #02897A;
    color:#FFFFFF;
}



.tb1{
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
   
}

.tb2{
    
    font-size: 18px;
    font-weight: 400;
    
    
}

.left_col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.right_col{
    width: 50%;
    
    
    
}

.right_col img{
    width: 100%;
}

.content{
    margin-top: 44px;
}



.start{
    background-color: #02897A;
    
    margin-top: 44px;
    
}

.start span{
    font-size: 16px;
    color: #FFFFFF;
    
}

.link_left_col{
    align-items: center;
    margin-top: 44px;
    
}

.link_left_col button{
    margin-right: 28px;
}

.triangle{
    margin-right: 8px;
}

.watch_the_video{
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
    display: inline-flex;

}

.slogan{
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    margin-bottom: 64px;
    
}

.benefits{
    background-image: url(../Practise/Assets/arc.svg);
    background-repeat: none;
    background-size: 100%;
    padding-bottom: 24px;

}

.order{
    display: flex;
    align-items: center;
    text-decoration: none;
    
    
}

h3{
    font-weight: 600;
    font-size: 24px;
    color:#22343D;
}

.snake, .heart, .arrow, .sand_watches{
    margin-bottom: 64px;
}

.snake, .heart, .sand_watches{
    margin-left: 44px;
}

.middle_btn{
    text-align: center;
    
}


