.flex {
    display: flex;
}

.align_center {
    align-items: center;
}

.justify-content_center {
    justify-content: center;
}

.justify-content_space_between {
    justify-content: space-between;
}




.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}
   
.product {
    color: #173A56;
    font-size: 30px;
    padding-left: 16px;
}

.nav {
    all: unset;
    font-size: 16px;
}

.order {
    display: flex;
    text-decoration: none;
    margin: 0 -10px;
}

ul {
    all: unset;
}


.nav_link {
    color: #22343D;
    text-decoration: none;
    margin: 0 30px;
}


.nav_link:hover {
    color:yellow;
}


li {
    list-style-type: none;
}


/* Buttons*/
.btn {
    all: unset;
    border-radius: 4px;
    padding: 10px 24px;
}

.primary {
    border: 1px solid #BCD0E5;
    background-color:#FFFFFF;
    color:#173A56;
}

.secondary {
    background-color: #02897A;
    color:#FFFFFF;
}

.secondary:hover {
    background-color: #F03E3D;
    color:#FFFFFF;
    cursor: pointer;
}

.primary:hover {
    color:#FFFFFF;
    background-color: #740A76;
    cursor: pointer;
}




.left_col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textblock1 {
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.textblock2 {
    font-size: 18px;
    font-weight: 400;
}

.call_to_action_left_col {
    align-items: center;
    display: flex;
    margin-top: 44px;
}

.right_col {
    width: 50%;
}

.right_col img {
    width: 100%;
}

.content {
    margin-top: 44px;
}


.call_to_action_left_col button {
    margin-right: 28px;
}

.call_to_action_left_col a:hover {
     color: aqua;
}

.triangle {
    margin-right: 8px;
}

.watch_the_video {
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
    display: inline-flex;
}

.slogan {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    margin-bottom: 64px;
}


.benefits { 
    background-image: url(../Practise/Assets/arc_down.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 90px;
    margin-bottom: 150px;
    background-position: center bottom;
}

.benefits ul {
    margin-bottom: 64px;
}

.benefits .green {
    margin: 0;
}

.icon {
    background-color: #02897A;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.green {
    background-color: #02897A;
    color: #FFFFFF;
    margin: 0 10px;
}

.benefits .blue {
    background-color: #4D8DFF;
}

.purple {
    background-color: #740A76;
}

.orange {
    background-color: #F03E3D;
}
.order h3 {
    font-weight: 600;
    font-size: 24px;
    color:#22343D;
}



.middle_btn {
    text-align: center;
}

.benefits  li {
    margin: 0 10px;
}


.txt_block {
    width: 40%;
}

.manage,
.customer_support,
.collaborative {
    margin-bottom: 150px;
}

.manage_image img,
.officepc_image img,
.collaborative_image img {
    width: 100%;
    margin-bottom: 150px;
}

.manage h3,
.customer_support h3,
.collaborative h3 {
    font-size: 16px;
    font-weight: 600;
}

.manage h2,
.customer_support h2,
.collaborative h2 {
    font-size: 32px;
    font-weight: 700;
}

.checkbox {
    display: flex;
    align-items: center;
}

.img_checkbox {
    margin-top: 34px;
}

.customer_support .blue img, .red img, .yellow img {
    margin-right: 34px;
}



.experts {
    background-image: url(../Practise/Assets/arc_up.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 154px;
    padding-top: 54px;
}

.circle {
    width: 98px;
    height: 98px;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.circle img {
    width: 100%;
    height: 100%;
}

.q_e_p {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    margin-bottom: 16px;
}

.helping_offer {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    margin-bottom: 32px;
}

.avatars {
    display: flex;
    margin-bottom: 54px;
}

.left {
    width: 50%;
}


.bubble_left_bottom_circle {
    display:flex;  
    background-color: #FFFFFF;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    margin:20px;
    position:relative;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  }


  .bubble_left_bottom_circle:before,
  .bubble_left_bottom_circle:after {
    content:"";
    background-color:#FFFFFF;
    border-radius:50%;
    position:absolute;
  }

  .bubble_left_bottom_circle:before {
    width:17px;
    height:17px;
    bottom: -10px;
    left:28px;
}

.bubble_left_bottom_circle:after {
    width: 9px;
    height: 9px;
    bottom: -25px;
    left: 20px;
    box-shadow: 0px 2px 15px rgb(23 58 86 / 10%);
}


.bubble_right_bottom_circle {
    display:flex;  
    background-color: #FFFFFF;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    margin:20px;
    position:relative;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
}

.bubble_right_bottom_circle:before,
.bubble_right_bottom_circle:after {
    content:""; 
    background-color:#FFFFFF;
    border-radius:50%;
    position:absolute;
  }

.bubble_right_bottom_circle:before {
    width:17px;
    height:17px;
    bottom: -10px;
    right:28px;
}

.bubble_right_bottom_circle:after {
    width: 9px;
    height: 9px;
    bottom: -25px;
    right: 20px;
    box-shadow: 0px 2px 15px rgb(23 58 86 / 10%);
}


.design p {
    all:unset;
    padding: 10px;
    background-color: aqua;
    margin: 16px;
}

.avatar-top {
    margin-bottom: 24px;
}

.right {
    width: 50%;
}

.strategies h2 {
    margin-bottom: 8px;
}




.sliders {
    margin-bottom: 150px;
}



.sliders .card {
    padding: 0;
    overflow: hidden;
}

.card_middle {
    margin: 0 10px;
}

.sliders .bottom {
    margin: 24px;
}

.top img {
    width: 100%;
    height: 100%;
    
}

.card .subtitle {
    font-size: 24px;
    font-weight: 700;
}




.price {
    margin-bottom: 150px;
}

.tables {
    display: flex;
    justify-content: space-between;
}


.card {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 0 74px 0 74px;
    width: 100%;
}




.price .card {
    text-align: center;
}

.price h3, .price h4 {
    text-align: center;
    margin-bottom: 14px;
}

h3 {
    font-weight: 700;
    font-size: 34px;
}

.price h4 {
    font-weight: 500;
    font-size: 16px;
}

.large {
    display: flex;
    justify-content: center;
    align-items: center;
}

.large_symbol {
    font-size: 76px;
    font-weight: 700;
    color: #02897A;
}

.card .primary {
    border: none;
}

.additional_symb p {
    margin: 0;
    left: 0;
}
 
.dol {
    font-weight: 700;
    font-size: 24px;
    color:#02897A;
}

.dol_green {
    font-weight: 700;
    font-size: 24px;
}



.green .large_symbol {
    color: #FFFFFF;
}


.card button {
    margin-bottom: 34px;
}





.mail_us form {
    display: flex;
    flex-direction: column;
}

.mail_us {
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    margin-bottom: 154px;
    padding: 54px;
    max-width: 886px;
}

.send_a_message {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom:24px;
    
}

.text_input {
    all: unset;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    padding: 20px;
    margin-bottom: 44px;
    background-color: #F5F5F5;
}




.send {
    border-radius: 35px;
    padding: 18px 54px;
}


.footer {
    color: #22343D;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_info {
    
    display: flex;
    flex-direction: column
}

.footer_info_link {
    text-decoration: none;
}

.footer_info_link:hover {
    color: yellow;
}

footer .logo { 
    margin-bottom: 10px;
}



.last_slogan {
    display: flex;
    flex-direction: column;
    max-width: 324px;
}

.last_slogan .subtitle {
    margin-bottom: 34px;
}



.footer_info a {
    padding: 16px 0;
}

.footer_btn {
    margin-top: 24px;
}

.last_slogan input {
    margin-bottom: 0;
}

.footer_logo, .footer_info, .last_slogan {
    margin: 0 20px;
}

.footer_info_link {
    color: #22343D;
}







@media  (max-width: 980px) {
    .header {
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }

    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header .nav-container {
        display: block;
    }

    .column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .call_to_action_left_col {
        justify-content: center;
    }

    .left_col {
        width: 100%;
        text-align: center;
    }

    .textblock1 {
        font-size: 32px;

    }

    .right_col {
        width: 100%;
    }

    .header .flex {
       display: none;
    }

    .benefits {
        margin-bottom: 0;
    }

    .benefits .container {
       flex-direction: column;
    }


    .benefits {
        text-align: center;
    }

    .benefits .icon {
        display: inline-flex;
        align-items: center;
    }

    .benefits li {
        margin-bottom: 34px;
    }

    .manage_image,
    .officepc_image,
    .collaborative_image {
        width: 100%;
    }

    .manage .container,
    .collaborative .container {
        
        flex-direction: column-reverse;
    }

    .customer_support .flex {
        display: block;
    }

    .txt_block {
        width: 100%;
    }

    .manage_image img,
    .officepc_image img,
    .collaborative_image img {
        margin: 97px 0 50px 0;
    }

    .collaborative {
        margin-bottom: 154px;
    }

    .avatars {
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 100%;
    }

    .right {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .avatar-top, .avatar-bottom {
        margin-bottom: 32px;
    }

    .price .tables {
        flex-direction: column;
        max-width: 322px;

    }

    .tables .card {
        width: auto;
    }

    .tables .green {
        margin: 32px 0 32px 0;
    }

    .mail_us {
        border: none;
    }
    

    .footer {
        flex-direction: column;
        align-items: center;
    }
    

    .footer_info {
        text-align: center;
        margin: 32px 0 32px 0;
    }

    .last_slogan {
        align-items: center;
    }

    .last_slogan .subtitle {
        text-align: center;
    }

    .last_slogan input {
        width: 100%; 
    }

    .primary:hover {
        color:#080808;
        background-color: #07f73b;
      }

    .secondary:hover {
        background-color: #0e0d0d;
        color:#FFFFFF;
     }
}